@page "/database"
@using BlazorApp.Models
@using BlazorApp.Services
@inject ApiService ApiService
@rendermode InteractiveServer

<PageTitle>Database</PageTitle>
<h3>Select a Reading</h3>

@if (isLoading || !isConnected)
{
    <FluentMessageBar Title="Connection Status" Intent="@GetMessageBarIntent()">
        @if (isLoading)
        {
            <span>Sprawdzanie połączenia z API...</span>
        }
        else if (!isConnected)
        {
            <span>Nie można połączyć się z API. Proszę spróbować później lub skontaktować się z administratorem.</span>
        }
    </FluentMessageBar>
}

@if (isConnected && scales != null)
{
    <FluentCombobox Placeholder="Select a scale..." Items="@scales.Select(r => r.ScaleName)" @bind-Value="@selectedScale" Height="200px" @onchange="OnScaleSelected" />
}

@if (readings != null)
{
    <h3>Readings for @selectedScale</h3>
    <FluentDataGrid Items="@readings" ResizableColumns="true">
        <PropertyColumn Property="@(r => r.ItemName)" Title="Item Name" />
        <PropertyColumn Property="@(c => c!.Quantity != null ? Math.Floor(c.Quantity.Value).ToString() : "N/A")" Title="Qty in the box" />
        <PropertyColumn Property="@(r => r.LatestReading.Date)" Title="Date" Sortable="true"/>
    </FluentDataGrid>
}

@code {
    private IQueryable<ScaleDto>? scales;
    private IQueryable<ScaleReadingDto>? readings;
    private string? selectedScale;
    private bool isLoading = true;
    private bool isConnected = false;
    private bool showSuccessMessage = false;
    private string? currentScaleName;

    protected override async Task OnInitializedAsync()
    {
        _ = CheckApiConnectionAsync();
        
    }

    private async Task CheckApiConnectionAsync()
    {
        try
        {
            isLoading = true;
            StateHasChanged();

            isConnected = await ApiService.CheckApiConnection();

            if (isConnected)
            {
                scales = (await ApiService.GetScalesWithAnyReadings()).AsQueryable();
            }
        }
        catch
        {
            isConnected = false;
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }
    
    private async Task OnScaleSelected(ChangeEventArgs e)
    {
        if (e.Value is string scaleName)
        {
            var scale = scales.FirstOrDefault(s => s.ScaleName == scaleName);
            if (scale != null)
            {
                readings = (await ApiService.GetAllReadingsByScaleId(scale.ScaleId)).AsQueryable();
            }
        }
    }

    private MessageIntent GetMessageBarIntent()
    {
        return isLoading ? MessageIntent.Info : MessageIntent.Error;
    }
}